body {
  margin: 0;
  font-family: "IBM Plex Sans", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;
}

.header {
  background-color: #8b3dff;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 2rem;
  padding: 0.75rem;
  color: white;
  margin-bottom: 5rem;
}

h2 {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  margin-bottom: 1.5rem;
}

.footer {
  background-color: #3c3c3b;
  color: white;
  margin-top: 5rem;
}

.user-card {
  border: 2px solid black;
  border-radius: 0;
}

.button-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2rem;
}

input {
  background-color: black;
}

.home {
  margin: 5rem 0;
}

.usercard-button, #add-user-btn, .submit-btn {
  font-size: 1.2rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

#add-user-btn {
  width: 100%;
  margin-bottom: 3rem;
  font-size: 1.4rem;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-color: white;
}
